<%- include ('partials/header.ejs'); -%>
<div class="">
    <% if (message) { %>
        <p class=""><%= message %></p>
    <% } %>

    <% if (patient) { %>
        <form class="" action="" method="post" enctype="multipart/form-data">
            <div class="">
                <div class="">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="" name="lastName" id="last-name" value="" required>
                </div>
                <div class="">
                    <label for="first-name">First Name</label>
                    <input type="text" class="" name="firstName" id="first-name" value="" required>
                </div>
                <div class="">
                    <label for="birthDate">Birth Date</label>
                    <input type="date" class="" name="birthDate" id="birth-date" value="" required>
                </div>
                <div class="">
                    <label for="heightFeet">Height (feet)</label>
                    <input type="number" class="" name="heightFeet" id="height-feet" value="<%= patient.heightFeet %>" required>
                </div>
                <div class="">
                    <label for="heightInches">Height (inches)</label>
                    <input type="number" class="" name="heightInches" id="height-inches" value="<%= patient.heightInches %>" required>
                </div>
                <div class="">
                    <label for="weight">Weight</label>
                    <input type="number" class="" name="weight" id="weight" value="<%= patient.weight %>" required>
                </div>
                <!-- <div class="">
                    <label for="areaCode">Area Code</label>
                    <input type="number" class="" name="areaCode" id="area-code" value="<#%= patient.areaCode %>" required>
                </div> -->
                <div class="">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="" name="phoneNumber" id="phone-number" value="" required>
                </div>
                <div class="">
                    <label for="email">Email</label>
                    <input type="email" class="" name="email" id="email" value="" required>
                </div>
                <div class="">
                    <label for="street">Street</label>
                    <input type="text" class="" name="street" id="street" value="" required>
                </div>

            </div>
            <button type="submit" class="">Update Patient</button>
        </form>
    <% } else { %>
            <p class="">Patient Not Found. Go <a href="/add">here</a> to add patient.</p> 
    <% } %>
</div>
</div>
</body>
</html>